<link rel="stylesheet" href="~/css/feed.css">
<h1>Tela Feed - DevConnect</h1>
<!-- Inicio Header -->
<header id="cabecalho">
    <nav>
        <a href="./feed.html">
            <img id="logo-desktop" src="~/images/logo-devconnect-md.svg" alt="Logo do DevConnect">
        </a>
        <a href="./feed.html">
            <img id="logo-mobile" src="~/images/logo-devconnect-sm.svg" alt="Logo do DevConnect">
        </a>

        <div class="cabecalho-acoes">
            <a href="./feed.html">
                <img src="~/images/icone-casa-azul.svg" alt="">
            </a>
            <a href="#">
                <img src="~/images/icone-coracao-azul.svg" alt="">
            </a>
            <a href="#">
                <img class="foto-perfil" src="~/images/WIN_20250903_11_38_24_Pro.jpg" alt="">
            </a>
        </div>
    </nav>
</header>
<!-- Fim Header -->

<!-- Inicio Main -->
<main>
    <div class="container-flex-publi">
        <section id="storys" class="estilo-formulario">
            <!-- card story -->
            <article class="card-story">
                <button type="button">
                    <img src="~/images/IMG_0481.JPG" alt="">
                    ig.rawany
                </button>
            </article>
            <!-- card story -->
            <article class="card-story">
                <button type="button">
                    <img src="~/images/IMG_0481.JPG" alt="">
                    ig.rawany
                </button>
            </article>
            <!-- card story -->
            <article class="card-story">
                <button type="button">
                    <img src="~/images/IMG_0481.JPG" alt="">
                    ig.rawany
                </button>
            </article>
            <!-- card story -->
            <article class="card-story">
                <button type="button">
                    <img src="~/images/IMG_0481.JPG" alt="">
                    ig.rawany
                </button>
            </article>
            <!-- card story -->
            <article class="card-story">
                <button type="button">
                    <img src="~/images/IMG_0481.JPG" alt="">
                    ig.rawany
                </button>
            </article>
            <!-- card story -->
            <article class="card-story">
                <button type="button">
                    <img src="~/images/IMG_0481.JPG" alt="">
                    ig.rawany
                </button>
            </article>
            <!-- card story -->
            <article class="card-story">
                <button type="button">
                    <img src="~/images/IMG_0481.JPG" alt="">
                    ig.rawany
                </button>
            </article>
            <!-- card story -->
            <article class="card-story">
                <button type="button">
                    <img src="~/images/IMG_0481.JPG" alt="">
                    ig.rawany
                </button>
            </article>
            <!-- card story -->
            <article class="card-story">
                <button type="button">
                    <img src="~/images/IMG_0481.JPG" alt="">
                    ig.rawany
                </button>
            </article>
            <!-- card story -->
            <article class="card-story">
                <button type="button">
                    <img src="~/images/IMG_0481.JPG" alt="">
                    ig.rawany
                </button>
            </article>

        </section>

        <!-- Inicio seção criar publicação -->
        <section id="criar-publi" class="estilo-formulario">
            <h2>Publicação</h2>

            <form action="">
                <textarea name="" id="" placeholder="Digite a descrição do post..."></textarea>
                <!--Entrada de texto grandes-->

                <footer>
                    <div id="upload">
                        <label for="upload-imagem">Faça upload da sua imagem aqui....</label>
                        <input id="upload-imagem" type="file">
                    </div>

                    <button type="submit" class="formulario-botao-azul">Postar</button>

                </footer>
            </form>
        </section>

        <section id="publicacoes">
            <!-- -- card publi  -->
            <article class="card-publi">

                <header>
                    <a href="#">
                        <img class="foto-perfil" src="~/images/WIN_20250903_11_38_24_Pro.jpg" alt="">
                        ig.rawany
                    </a>

                </header>

                <figure>
                    <img class="imagem-publicacao" src="~/images/IMG_0481.JPG" alt="">
                    <figcaption>
                        rawany
                        <p class="descricao-publicacao">Final de semestre turma Moura, vulgo os mais mais da Terra ne
                            BBs</p>
                    </figcaption>

                    <div class="interacoes-publicacao">
                        <button type="button">
                            <img src="~/images/icone-coracao-preto.svg" alt="">
                        </button>

                        <button type="button">
                            <img src="~/images/icone-comentario-preto.svg" alt="">
                        </button>

                        <span>150k</span>
                    </div>
                    <button type="button">ver todos os comentários</button>
                </figure>
            </article>

        </section>
    </div>
</main>
<!-- Fim Main -->