@{
    ViewData["Title"] = "DevConnect";
}
<link rel="stylesheet" href="~/css/login.css">

<script defer>
    let usuarioNovoCadastro = "@TempData["UsuarioNovoCadastrado"]"; 

    if(usuarioNovoCadastro == "Cadastrado"){
        alert("Usuário cadastrado com sucesso! Se logue para navegar nossa plataforma");
    }
</script>

<h1>Tela principal login - DevConnect</h1>
    <main>
        <div>
            <!-- formulario -->
            <form class="estilo-formulario">
                <img src="~/images/logo-devconnect-lg.svg" alt="Logo DevConnect">

                <div class="formulario-campos">
                    <label for="">Nome do usuário:</label>
                    <input type="text" name="" id="">
                </div>

                <div class="formulario-campos">
                    <label for="">Senha:</label>
                    <input type="password" name="" id="">
                </div>

                <button type="submit" class="formulario-botao-azul">Entrar</button>

                <p>ou</p>

                <a href="#">Esqueceu a senha?</a></p>


            </form>

            <section id="secao-cadastro" class="estilo-formulario">
                <p>Não tem uma conta? <a href="#">Cadastre-se</a></p>
            </section>

            <p>Obtenha o aplicativo</p>

            <section id="secao-instalacao">
                <img src="~/images/app-store.svg" alt="imagem falando da instalaçao no app Store">

                <img src="~/images/google-play.svg" alt="imagem falando da instalaçao no Play Store">
            </section>
        </div>
    </main>


