@model CrudMoura.Models.Alunos
<h1>Cadastro de Alunos</h1>

<form asp-action="SalvarAlunos" method="post">
<label asp-for="Nome">Nome do Aluno</label>
<input asp-for="Nome" class="form-control">

<br>

<label asp-for="Idade">Idade</label>
<input asp-for="Idade" class="form-control">
<br>

<label asp-for="cpf">cpf do Aluno</label>
<input asp-for="cpf" class="form-control">
<br>


<button class="btn btn-danger">Cadastrar Alunos</button>

</form>