<link rel="stylesheet" href="~/css/perfil.css">

<h1>Tela Perfil - DevConnect</h1>
<!-- Inicio Header -->
<header id="cabecalho">
    <nav>
        <a href="./perfil.html">
            <img id="logo-desktop" src="~/images/logo-devconnect-md.svg" alt="Logo do DevConnect">
        </a>
        <a href="./perfil.html">
            <img id="logo-mobile" src="~/images/logo-devconnect-sm.svg" alt="Logo do DevConnect">
        </a>

        <div class="cabecalho-acoes">
            <a href="./perfil.html">
                <img src="~/images/icone-casa-azul.svg" alt="Início">
            </a>
            <a href="#">
                <img src="~/images/icone-coracao-azul.svg" alt="Favoritos">
            </a>
            <a href="#">
                <img class="foto-perfil" src="~/images/WIN_20251205_08_41_37_Pro.jpg" alt="Foto de perfil de Rawany">
            </a>
        </div>
    </nav>
</header>

<!-- Perfil -->
<section class="perfil">

    <img id="foto-raw" src="~/images/WIN_20251205_08_41_37_Pro.jpg" alt="Foto de perfil de Rawany">
    <div class="biografia">
        <p>ig.rawany</p>

        <div>
            <p>1 publicacao</p>
            <p>110 seguindo</p>
            <p>950 seguidores</p>
        </div>


        <div id="informacoes">
            <span>Rawany</span>
            <button type="submit" class="links">Editar perfil</button>
            <button type="submit" class="links">Sair</button>
        </div>


    </div>


</section>

<div class="divider"></div>

<!-- Seção Publicações -->
<div class="secao-titulo">
    <img src="~/images/icone-galeria-preto.svg" alt="Ícone de galeria"> PUBLICAÇÕES
</div>

<!-- Lista de posts -->
<section class="posts">
    <div class="post">
        <h3>ig.rawany</h3>
        <p>Todo dia é uma nova chance de recomeçar, aprender e crescer.
            Não importa o que aconteceu ontem, hoje é um convite para escrever uma nova história.</p>
        <div class="actions">
            <a href="#">
                <img src="~/images/icone-coracao-preto.svg" alt="Curtir">
            </a>
            <a href="#">
                <img src="~/images/icone-comentario-preto.svg" alt="Comentar">
            </a>
        </div>
        <p>10k curtidas</p><br>
        <p class="comentarios">Ver todos os comentários...</p>
    </div>

    <div class="post">
        <h3>ig.rawany</h3>
        <p>Se a vida te der limões… faça uma limonada.
            Mas se te der preguiça, aceita também e vai descansar um pouquinho.</p>
        <div class="actions">
            <a href="#">
                <img src="~/images/icone-coracao-preto.svg" alt="Curtir">
            </a>
            <a href="#">
                <img src="~/images/icone-comentario-preto.svg" alt="Comentar">
            </a>
        </div>
        <p>15k curtidas</p><br>
        <p class="comentarios">Ver todos os comentários...</p>
    </div>

    <div class="post">
        <h3>ig.rawany</h3>
        <p>Às vezes a gente não precisa de muito, só de paz, de gente de verdade e de momentos que valem a pena
            guardar no coração.</p>
        <div class="actions">
            <a href="#">
                <img src="~/images/icone-coracao-preto.svg" alt="Curtir">
            </a>
            <a href="#">
                <img src="~/images/icone-comentario-preto.svg" alt="Comentar">
            </a>
        </div>
        <p>19k curtidas</p><br>
        <p class="comentarios">Ver todos os comentários...</p>
    </div>
</section>