/* @import url('https://fonts.googleapis.com/css2?family=Oi&display=swap'); */

@font-face {
    font-family: billabong;
    src: url(../assets/fonts/Billabong/billabong.ttf),
        url(../assets/fonts/Billabong/billabong_regular.otf);
}

:root {
    --cor-preto: #000000;
    --cor-azul: #2686cc;
    --cor-branco: #ffffff;
    --cor-cinza-escuro1: #b6b6b6;
    --cor-cinza-escuro2: #4d4d4d;
    --cor-cinza-escuro3: #7d7d7d;
    --cor-cinza-escuro4: #d1d1d1;
    --cor-cinza-medio: #e5e5e5;
    --cor-cinza-claro: #fafafa;

    --borda: 1px solid var(--cor-cinza-medio);
    --borda-arredondada: 2px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    outline-color: #2686cc;
}

body {
    background-color: var(--cor-cinza-medio);
}

h1 {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* formulario */
.formulario-botao-azul{
    background-color: var(--cor-azul);
    border-radius: var(--borda-arredondada);
    height: 35px;
    border: none;

    color: var(--cor-branco);
    font-size: var(--tamanho-fonte-sm);
}

.formulario-campos > input{
    border: var(--borda);
    height: 35px;
    width: 258px;
    background-color: var(--cor-cinza-claro);

    color: var(--cor-cinza-escuro4);
    font-size: var(--tamanho-fonte-sm);
    border-radius: var(--borda-arredondada);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-campos > label{
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinza-escuro3);
    font-weight: 600;
}

.estilo-formulario {
    width: 100%;
    background-color: var(--cor-branco);
    border: var(--borda);
}

#upload-imagem {
    display: none;
}

#upload {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    min-height: 35px;
    padding: 5PX;
    background-color: var(--cor-cinza-escuro4);
    color: var(--cor-cinza-escuro3);
    text-align: center;
    display:inline-block;
    border-radius: var(--borda-arredondada);
    font-weight: 500;
}

#upload {
    color: var(--cor-branco);
}

main>div>p {
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
}

/* cabeçalho */

#cabecalho {
    background-color: var(--cor-branco);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    border-bottom: var(--borda);
}

#cabecalho>nav {
    width: 85%;
    max-width: 900px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-acoes {
    /* background-color: var(--cor-verde-escuro); */
    display: flex;
    align-items: center;
    gap: 15px;
}

#cabecalho-acoes>a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foto-perfil {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

#foto-raw{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

#logo-mobile {
    display: none;
}

/* RESPONSIVO */
@media only screen and (max-width: 500px) {
    #logo-mobile {
        display: initial;
    }

    #logo-desktop {
        display: none;
    }
}
